/* Color Palette
#254336
#6B8A7A
#B7B597
#DAD3BE
*/
html{
    background: #DAD3BE;
}

/* Header */
header{
    position: relative;
    text-align: center;
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1{
    position: absolute;
    color: white;
    font-size: 5rem;
    letter-spacing: 3px;
    padding-left: 40%;
    padding-top: 20%;
    z-index: 5;
}

header img{
    width: 100%;
    /* object-fit: cover; */
    object-position: center;
    opacity: .8;
    filter: brightness(40%);
}

#topLine{
    background: black;
    border:none;
    height: 5px;
    margin-bottom: 20px;
}

/* Subheader sections */
.subHeader{
    /* background: #B7B597; */
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.5rem;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.subHeadLine{
    margin-left: 25%;
    background: black;
    border: none;
    height: 2px;
    width: 50%;
} 

/* recipe links */
.clickable{
    display: inline-block;
    height: 200px;
    width: 400px;
    text-align: center;
    border: 3px solid black;
}

a{
    position: relative;
    color: #DAD3BE;
}

.photo img{
    height: 200px;
    width: 400px;
    object-fit: cover;
    object-position: center;
    z-index: 4;
}

.name{
    font-size: 1rem;
    position: absolute;
    color: white;
    letter-spacing: 1px;
    top: 0%;
    padding-left: 50%;
    padding-top: 15%;
    width: 100%;
    height: auto; 
    z-index: 5;
    opacity: 0;
} 


.hover{
    box-shadow: 0 3px 4px 0 grey;
}

.hoverName{
    box-shadow: initial;
    opacity: 1;
    filter: brightness(100%);
}

.hoverImg{
    opacity: .8;
    filter: brightness(30%);
}

