/* Bold times and cooking temps*/

body{
    background: #DAD3BE;
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    display: grid;
    grid-template-columns: 1 fr 2 fr;
    grid-template-rows: 1 fr 2 fr;
    gap: 30px;
}

header{
    grid-column: span 2;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#title{
    background: black;
    height: 5px;
    border: none;
}

img{
    border-radius: 10%;
    height: 100vh;
    float: left;
}

.photo{
    justify-self: center;  
    align-self: center;
}

#words{
    background-color: #B7B597;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5%;
}

li{
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 18pt;
}

#separator{
    background: black;
    height: 2px;
    width: 200px;
    border: none;
}

a{
    color: #254336;
}


@media (max-width: 700px){
    body{ 
        display: flex;
        flex-direction: column;
    }

    img{
        height:100%;
        width: 80vh;
    }

}
